<style media="screen">

</style>
<div class="row">
  <div class="col l6">
    <h3>Geocoding</h3>
    <div id="floating-panel" class="col l7" style="margin-bottom:10px;padding-bottom:10px;border:1px solid black">
      <input id="address" type="text" value="Marwah Estate, Mumbai">
      <input id="submit" type="button" value="Geocode">
    </div>
    <div class="" id="map-geocodeing" style="height:600px;width:100%"> </div>
  </div>
  <div class="col l6">
    <h3>Reverse-Geocoding</h3>
    <div id="floating-panel_reverseGeofencing"  class="col l7" style="margin-bottom:10px;padding-bottom:10px;border:1px solid black">

      <input id="latlng" type="text" value="19.1109594,72.8839292">
      <input id="submit_reverse" type="button" value="Reverse Geocode">
    </div>
    <div class="" id="map-reverseGeocoding" style="height:600px;width:100%"> </div>

  </div>
</div>
